<ion-view view-title="Welcome" class="padding screen-background">
	<ion-content>
		<div class="row responsive-sm text-center v-center">
			<img class="col" src="../img/bubble.png" alt="Bubbles! Logo">
		</div>
		<div class="row responsive-sm text-center v-center">
			<h1 class="col">Bubbles!</h1>
			<p class="col">Spot the still</p>
		</div>
		<div class="bar bar-clear">
			<div class="row responsive-sm text-center v-center">
				<a class="col button button-positive" href="#/bubbles">Start!</a>
				<a class="col button button-assertive" href="#/bubbles">Restart</a>
			</div>
		</div>
	</ion-content>
</ion-view>
